<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <form method="post" th:object="${form}" action="/menu/add-item">
            <div>
                <label th:for="cheeseId">Cheese</label>
                <select th:field="*{cheeseId}"> <!--<select th:field="*{id}">-->
                    <!--<option value=""></option>-->
                    <option th:each="cheese : *{cheeses}"
                            th:value="${cheese.id}"
                            th:text="${cheese.name}"></option>
                </select>
            </div>
                <input type="hidden" name="menuId" th:value="*{menu.id}" />
                <!--<span th:errors="*{cheeseId}" class="error"></span>-->

            <input type="submit" value="Add A Cheese To Menu" />
        </form>
    </body>
</html>